@model IEnumerable<Servicio.DTO.DTO_Solicitud>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Administrador</b></h4>
            <p class="text-muted font-13 m-b-30">
                Tares pendientes de aprobación.
            </p>

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Empleado</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.subordinado</td>
                            <td>@x.servicio</td>
                            <td>@x.estado</td>
                            <td>@x.fecha_solicitud</td>
                            <td><a style="cursor: pointer;" title="Requerimientos del Referente Informatico" onclick="send(@x.idsolicitud)" class="ti-notepad"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="motivo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div id="resultado"></div>
    </div>
</div>





<script>
    function send(e) {
        var url = "@Url.Action("SolicitudPorEmpleado", "Admin", new { id="param-id"})";
        url = url.replace("param-id", e);

        $("#resultado").load(url);
        $("#motivo").modal('show');
    }
</script>